<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dikke waggie</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <!-- Favicon-->
        <link rel="apple-touch-icon" sizes="180x180" href="http://192.168.1.44:8080/static/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="http://192.168.1.44:8080/static/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="http://192.168.1.44:8080/static/icons/favicon-16x16.png">
        <link rel="manifest" href="http://192.168.1.44:8080/static/icons/site.webmanifest">
        <link rel="mask-icon" href="http://192.168.1.44:8080/static/icons/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="http://192.168.1.44:8080/static/icons/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="http://192.168.1.44:8080/static/icons/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="http://192.168.1.44:8080/static/css/styles.css" rel="stylesheet" />
        <link rel="manifest" href="http://192.168.1.44:8080/static/manifest/manifest.webmanifest">
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="#page-top">Project - Dikke Waggie</a>
                <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#portfolio">The Team</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#about">About</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <h1 class="masthead-heading text-uppercase mb-0">Live Camera View</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <img style="display: block; width: 50rem;" src="{{ url_for('video_feed') }}">
            <div class="d-flex justify-content-around">
                <div class="p-2">
                     <button type="button" class="btn btn-warning car-btn" name="forward">
                        <i class="bi bi-arrow-up-circle"></i>
                            Forward
                    </button>
                </div>
                <div class="p-2">
                    <button type="button" class="btn btn-warning car-btn" name="stop">
                        <i class="bi bi-dash-circle"></i>
                            Stop
                    </button>
                </div>
                <div class="p-2">
                    <button type="button" class="btn btn-warning car-btn" name="backwards">
                        <i class="bi bi-arrow-down-circle"></i>
                            Backwards
                    </button>
                </div>
                <div class="p-2">
                    <button type="button" class="btn btn-warning car-btn" name="left">
                        <i class="bi bi-arrow-left-circle"></i>
                            Left
                    </button>
                </div>
                <div class="p-2">
                    <button type="button" class="btn btn-warning car-btn" name="straight">
                       <i class="bi bi-arrow-up-circle"></i>
                           Straight Wheels
                   </button>
               </div>
                <div class="p-2">
                    <button type="button" class="btn btn-warning car-btn" name="right">
                        <i class="bi bi-arrow-right-circle"></i>
                            Right
                    </button>
                </div>
            </div>
            <!-- Masthead Subheading-->
        </div>
    </header>
    
    <section class="page-section">
        <div class="container text-center">
            <button class="update-statistics btn btn-outline-dark">Update Stats</button>
            <table class="mt-5 table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col"></th>
                        <th scope="col">Direction</th>
                        <th scope="col"></th>
                        <th scope="col">Timestamp</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="statistics">
                    
                </tbody>
            </table>
        </div>
    </section>

    <!-- Portfolio Section-->
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <!-- Portfolio Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">The Team</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Portfolio Grid Items-->
            <div class="row justify-content-center">
                <!-- Portfolio Item 1-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                        <div
                            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i
                                    class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="http://192.168.1.44:8080/static/assets/img/portfolio/ik.jpg" alt="..." />
                    </div>
                </div>
                <!-- Portfolio Item 2-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                        <div
                            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i
                                    class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="http://192.168.1.44:8080/static/assets/img/portfolio/Reineard.jpg" alt="..." />
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- About Section -->
    <section class="page-section bg-primary text-white mb-0" id="about">
        <div class="container">
            <!-- About Section Heading -->
            <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content-->
            <div>
                <h2>Why this project?</h2>
                <p>We started this project because of an assignment for school.
                    We had to make a smart device that would be controlled by a raspberry pi.
                    Hence we both are real petrol heads we wanted to do something with cars.
                    One of us had an older radio-controlled vehicle lying about in his house witch he had lost the
                    remote, so the project was born.
                    We wanted to make it so we could control the car remotely.
                    But only controlling the car was not enough for the school project so we added a couple of "goals".
                    So we came up with the idea of adding a camera, so you can see where you are going without running
                    behind the car like a headless chicken.
                    We also wanted to know the speed, so we would add a speed sensor and an LCD screen to read the speed
                    on the car as well.
                    And the furthest goal was adding an app for your phone with gyro controls.
                    But this all together is too much out of scope, so we stuck with the camera.
                </p>
                <img class="img-fluid" src="http://192.168.1.44:8080/static/assets/img/werkende waggie.jpg" alt="half-open wagen" />
                <h2>Who are we?</h2>
                <p>
                    We are 2 students of Howest Brugge.
                    Both of us chose the business and ICT consultant within our TI curriculum.
                </p>
                <strong>- Michiel -</strong>
                <p></p>


                <strong>- Reinaerd -</strong>
                <p>
                    I am 20 years old and in my 2nd year at Howest.
                    I chose the consultant curriculum because of the more economic side of IT.
                    Pure programming is not for me, but all the CRM and ERP software and stuff, I really like.
                    So obviously, the programming of the site was not my strongest side, but the frying of all the
                    wires on the car were more for me.
                    I gained a lot of technical experience from this project and am now broke as well. but more on this
                    further down.
                    In general, I loved this project, and would recommend doing this even in your spare time if you can,
                    because we only touched the tip of the iceberg with what you can do with this project.
                    The possibilities are endless. So good luck and have fun.

                </p>
                <h2>Struggles</h2>
                <p>
                    Not everything in this project went like butter. 
                    We did encounter e lot of problems as well.</p>

                    <strong>- $$$ -</strong>
                    <p>The biggest being the cost.
                    We spend more than 100 euro's a part, so we are both broke now (not really).
                    But the cost was higher than we anticipated.
                    The biggest cost was actually the power bank because the Pi needs at least a 5V/3A output.
                    So the power bank set us back a whopping 56 euros
                    The best part is that we can reuse this n the future.</p>

                    <strong>- burn baby burn -</strong>
                    <p>Another issue was that Reinaerd is a bit clumsy and fried the light a couple of times, so we had to replace them a few times as well.
                    Once we burnt something and could smell it but did not find where it was coming from. 
                    So we checked all the connections to find out it was the rubber fitting around one of the cables that got a bit hot after touching the RPI.
                    So we replaced this as well.</p>

                    <strong>- Nothing to see here -</strong>
                    <p>But the most annoying thing to figure out was the camera.
                    The camera seemed to be working, but we did not get an image. 
                    We downloaded the library and tried multiple solutions, but it still was not cooperating.
                    In general, all the hardware was a bit stubborn or "tengentsjok" as we say in Bruges.

                </p>

            </div>
        </div>
    </section>

 
    <!-- Copyright Section-->
    <div class="copyright py-4 text-center text-white">
        <div class="container"><small>&copy; &nbsp; Project - Dikke Waggie - 2022</small></div>
    </div>
    <!-- Portfolio Modals-->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Log Cabin</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Portfolio Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="http://192.168.1.44:8080/static/assets/img/portfolio/ik.jpg" alt="..." />
                                <div>
                                    <div class="row">
                                        <div class="col-lg-4 mb-5 mb-lg-0"></div>
                                        <div class="col-lg-4 mb-5 mb-lg-0">
                                            <h4 class="text-uppercase mb-4"></h4>
                                            <a class="btn btn-outline-dark btn-social mx-1" href="#!"><i
                                                    class="fab fa-fw fa-facebook-f"></i></a>
                                            <a class="btn btn-outline-dark btn-social mx-1" href="#!"><i
                                                    class="fab fa-fw fa-twitter"></i></a>
                                            <a class="btn btn-outline-dark btn-social mx-1" href="#!"><i
                                                    class="fab fa-fw fa-linkedin-in"></i></a>
                                        </div>
                                        <div class="col-lg-4"></div>
                                    </div>
                                </div>
                                <!-- Portfolio Modal - Text-->
                                <div style="display: block; padding-bottom: 3rem;"></div>
                                <button class="btn btn-primary" data-bs-dismiss="modal">
                                    <i class="fas fa-xmark fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 2-->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" aria-labelledby="portfolioModal2" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Tasty Cake</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Portfolio Modal - Image-->
                                <img class="img-fluid rounded mb-5" src="http://192.168.1.44:8080/static/assets/img/portfolio/Reineard.jpg" alt="..." />
                                <div>
                                    <div class="row">
                                        <div class="col-lg-4 mb-5 mb-lg-0"></div>
                                        <div class="col-lg-4 mb-5 mb-lg-0">
                                            <h4 class="text-uppercase mb-4"></h4>
                                            <a class="btn btn-outline-dark btn-social mx-1" href="#!"><i
                                                    class="fab fa-fw fa-facebook-f"></i></a>
                                            <a class="btn btn-outline-dark btn-social mx-1" href="#!"><i
                                                    class="fab fa-fw fa-twitter"></i></a>
                                            <a class="btn btn-outline-dark btn-social mx-1" href="#!"><i
                                                    class="fab fa-fw fa-linkedin-in"></i></a>
                                        </div>
                                        <div class="col-lg-4"></div>
                                    </div>
                                </div>
                                <!-- Portfolio Modal - Text-->
                                <div style="display: block; padding-bottom: 3rem;"></div>
                                <button class="btn btn-primary" data-bs-dismiss="modal">
                                    <i class="fas fa-xmark fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="http://192.168.1.44:8080/static/js/script.js"></script>
    </body>
</html>
